/* font section  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Work Sans", sans-serif;
}

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

/* shared styles  */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color:#727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-button{
    background-color: #FF900E;
    padding: 20px 25px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* navbar styles  */
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner releted style  */

/* header styles  */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* our feature section design start here  */

.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick{
    font-weight: 500;
    color: #727272;
}
#quick2{
    font-weight: 700;
    color:#FF900E;
}

.feature-description{
    margin-bottom: 32px;
    color: #727272;
    font-size: 1.25rem;
}

/* will enjoy design  */
.will-enjoy-container{
    gap: 140px;
}
.will-enjoy-title{
    border-left: 4px solid rgb(255, 144, 14);
    padding-left: 20px;
}
.will-enjoy-card{
    width: 100%;
    height: 171px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.experience-badge{
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -100px;
}
.experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.experience{
    font-size: 1.5rem;
    font-weight: 500;
}
.feature-architect{
    width: 100%;
}
/* some fact section style  */
.fact-main-title{
    margin-bottom: 24px;
}
.fact-description{
    width: 100%;
    font-size: 1.25rem;
    margin-bottom: 100px;
}
.fact-child{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

}
.fact{
    width: 100%;
    height: 241px;
    border:1px solid rgb(255, 144, 14);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fact-number{
    color:rgb(66, 66, 66);
    font-size: 45px;
    font-weight: 600;
    margin: 0px;
}
.fact-title{
    font-size: 20px;
    font-weight: 600;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .teams{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .fact-child{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .will-enjoy-container{
        flex-wrap: wrap;
    }
    .feature-architect img{
        width: 100%;
        margin: 0;
    }
    .experience-badge{
        margin-top: 20px;
        margin-left:0px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .fact-child{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
    }
    .will-enjoy-container{
        flex-wrap: wrap;
        gap: 25px;
    }
}